*{
    margin: 0;
    padding: 0;
}
.video{
    width: 99vw;
    height: auto;
    display: flexbox;
    left: 3px;
}
#bg-video{
    object-fit: cover;
    width: 100%;
    z-index: -1;
    position: relative;
}
#layer{
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    width: 99vw;
    height: 100%;
    position:0;
    top: 0;
    left: 0;
}
#logo-img{
  border-radius: 50%;
  width:30%; 
  height:50%;
}
nav{
background-image:linear-gradient(37deg, #302355, #130347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
display:inline-block;
direction: ltr;
align-items: center;
justify-content: center;
z-index: 1;
}

a {
  position: relative;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color:whitesmoke ;
  background-color: #dad5d5;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}
footer {
  background-color: black;
  width: 99.5vw;
  display: flexbox;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  h3 {
    color: white;
    font-family: "Kalam", sans-serif;

  }
}
@media(max-width:500px){
  .content>.our-aim,.content>.our-story,.content>.our-vision{
    margin-left: 13vw;
    width: 70vw;
    border-radius: 1%;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media(max-width:500px) {
  footer {
    width: 100%;
    display: block;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    .endlogo{
      margin-bottom: 5vh;
      margin-top: 5vh;
    }
  }

  footer>.footer-target {
    display: flex;
    justify-content: center;
    scale: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

footer>.footer-target {
  display: flex;
  justify-content: center;
}

.footer-target>.About {
  text-decoration: none;
  display: flexbox;
  color: antiquewhite;
  margin-bottom: 3vh;


  a {
    font-size: larger;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a:hover {
    color: green;
  }
}

.footer-target>.Contact-Us {
  text-decoration: none;
  display: inline-flexbox;
  color: antiquewhite;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 3vh;
  a {
    font-size: larger;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a:hover {
    color: green;
  }
}

footer>h3 {
  color: #6449b0;
}

.footer-target>.Social {
  text-decoration: none;
  display: inline-flexbox;
  color: antiquewhite;
  margin-right: 5vw;
  margin-left: 5vw;
  word-wrap: normal;
  margin-bottom: 3vh;
  margin-top: 3vh;

  a {
    font-size: larger;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
   
  }

  a:hover {
    color: green;
  }
}

.footer-target>.endlogo{
  img{
  border-radius: 50%;
  height: 10em;
  mix-blend-mode: difference;
  display: flexbox;
  text-align: center;
  justify-content: center;
  color: rgb(218, 212, 212);
  border: 3px solid #6449b0;
  margin-left: 5vw;
  margin-right: 5vw;
}
}

.footer-target>.endlogo>p {
  color: grey;
  padding-top: 20px;
  font-family: cursive, sans-serif;
}

/*Scroll Handling*/
::-webkit-scrollbar{
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg,blueviolet,rgb(154, 12, 206));
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.5);
  height: 15px;
}